{% extends 'base.html' %}
{% block titulo %}Nosotros{% endblock %}

{% block contenido %}
            <div class="col-1"></div>
            <div class="card col-10">
              <div class="bg-primary mb-3 p-2">
                <h3 class="text-center text-white text-uppercase">Sobre el sistema</h3>
              </div>
              <p class="text-justify">
                El sistema CRUD de personajes de Dragon Ball es una aplicación web diseñada para administrar y gestionar información sobre los personajes de la popular serie de anime y manga Dragon Ball. Con esta aplicación, los usuarios pueden realizar operaciones básicas de creación, lectura, actualización y eliminación de personajes, lo que les permite tener un control completo sobre la base de datos de personajes de Dragon Ball.
              </p>
              <h3>Características del sistema:</h3>
              <ul>
                <li><b>Creación de personajes:</b> Permite agregar nuevos personajes a la base de datos especificando su nombre, imagen, raza y descripción.</li>
                <li><b>Visualización de personajes:</b> Proporciona una lista de todos los personajes existentes en la base de datos, mostrando detalles como el nombre, imagen y raza de cada uno.</li>
                <li><b>Edición de personajes:</b> Permite modificar la información de un personaje existente, como su nombre, imagen, raza y descripción.</li>
                <li><b>Eliminación de personajes:</b> Permite eliminar un personaje de la base de datos, eliminando permanentemente su información y registros asociados.</li>
              </ul>
              <p class="text-justify">
                Con el sistema CRUD de personajes de Dragon Ball, los fanáticos de la serie pueden mantener una colección organizada y actualizada de sus personajes favoritos, así como explorar y descubrir nuevos personajes de la serie. <br>¡Explora el mundo de Dragon Ball y administra tus personajes de manera fácil y eficiente con nuestro sistema!.
              </p>
            </div>
            <div class="col-1"></div>
{% endblock %}