{% extends 'base.html' %}

{% block titulo %}Personajes{% endblock %}

{% block contenido %}
          <div class="col-md-12">
              <!--Tabla-->
              <a href="{% url 'crear' %}" class="btn text-white mb-3" style="background-color: orangered;"><i class="bi bi-plus-square-fill"></i> Nuevo personaje</a>
              <h2 class="card-title p-3 bg-primary text-center text-white fw-bold">Personajes Dragon Ball</h2>
              <div class="table-responsive text-center">
                <table class="table table-striped">
                  <thead class="text-white" style="background-color: red;">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Personaje</th>
                      <th scope="col">Imagen</th>
                      <th scope="col">Raza</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for personaje in page_obj %}
                    <tr>
                      <td>{{ personaje.id }}</td>
                      <td>{{ personaje.nombre }}</td>
                      <td>
                        <img src="{{personaje.imagen.url}}" style="height: 150px;" class="img-fluid rounded-top" alt="">
                      </td>
                      <td>{{ personaje.raza }}</td>
                      <td style="height: 100px; width: 37%; text-align: justify;">{{ personaje.descripcion }}</td>
                      <td>
                        <a href="{% url 'editar' personaje.id %}" class="btn btn-warning text-white"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'eliminar' personaje.id %}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
              <!--Tabla end-->
              
              <!--Paginacion-->
              {% include 'libros/paginacion.html' %}
              <!--Paginacion end-->
              </div>
{% endblock %}