            <div class="col-md-3"></div>
            <div class="col-md-6 center card shadow p-3 bg-body rounded">
              <br><h2 class="title p-3 text-white text-center fw-bold" style="background-color: orangered;">Datos del personajes</h2><br>
              
              <form enctype="multipart/form-data" method="POST" class="form">
                {% csrf_token %}
                {% for campo in formulario %}
                    <div class="mb-2 form-group">
                        <label for="personaje" class="form-label">{{  campo.label  }}:</label>
                        {% if  campo.field.widget.input_type == 'file' and campo.value %}
                          <br/>
                          <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" style="height: 150px;" class="img-fluid" alt="img-personaje">
                        {% endif %}
                        <input class="form-control" 
                            type="{{ campo.field.widget.input_type }}" 
                            name="{{ campo.name }}" 
                            placeholder="{{campo.label}}" 
                            value="{{ campo.value | default:'' }}"
                        />
                    </div>
                <div class="col-md-6 help-text">{{campo.errors}}</div>
              {% endfor %}
              <br/>
                <div class="mb-4 mt-2">
                  <button type="submit" class="btn text-white" style="background-color: orangered;">Guardar</button>
                  <a href="{% url 'personajes' %}" class="btn btn-dark">Cancelar</a>
                </div>
              </form>
            </div>
            <div class="col-md-3"></div>